<%- include ('template/header.ejs') -%>
<div class="holder" style="background-color: white; margin-top: -40px;" id="head">
        <div class="content-wrapper">
            <%- include ('./template/detailNotFound.ejs') -%>

            <section id="head-section" class="content home-banner d-flex">
                <div class="container container-md d-flex align-items-center justify-content-center flex-column pt-4">
                    <div class="d-inline-block">
                        <h1 class="text-center font-size-40 mb-4 fw-bold">Tuyển Nhân Sự Chất Lượng Cao - Mọi Lĩnh Vực
                        </h1>
                        <p class="text-center font-size-18 mb-0 text-gray-575">Đáp ứng mọi nhu cầu tuyển dụng nhân sự
                            Fulltime & Freelancer.<br />
                            Kết nối nhanh chóng - Đúng người, đúng việc</p>
                        <!-- <div class="row mt-7 mb-7 justify-content-md-center">
                            <div class="col-md-6 col-lg-5">
                                <a class="btn btn-primary btn-block fw-500 pl-4 pr-4 pt-12 pb-12 mb-3"
                                    href="https://freelancerviet.vn/dang-tuyen-viec-fulltime.html">TUYỂN NHÂN SỰ
                                    FULLTIME</a>
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <a class="btn btn-outline-primary btn-block fw-500 pl-4 pr-4 pt-12 pb-12 mb-3"
                                    href="https://freelancerviet.vn/dang-tuyen-viec-freelance.html">TUYỂN NHÂN SỰ
                                    FREELANCE</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="mt-5 d-inline-block text-center w-100">
                        <p class="text-gray-500 font-size-14 mb-4">Tin tưởng bởi nhiều thương hiệu lớn</p>
                        <div>
                            <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/clients/nielsen.png" alt=""
                                class="d-inline-block m-2 h-50" />
                            <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/clients/cimico.png" alt=""
                                class="d-inline-block m-2 h-50" />
                            <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/clients/novaland.png" alt=""
                                class="d-inline-block m-2 h-50" />
                            <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/clients/dulux.png" alt=""
                                class="d-inline-block m-2 h-50" />
                            <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/clients/phamexco.png" alt=""
                                class="d-inline-block m-2 h-50" />
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="info" class="content bg-white pt-6 pb-6" style="margin-top: 100px;">
                <div class="container ">
                    <h2 class="font-size-40 fw-bold mb-3 mt-3 text-center border-title-top">Kết Nối Đúng Người, Đúng
                        Công Việc</h2>
                    <p class="text-gray-575 mb-6 text-center">Tăng hiệu quả tuyển dụng - Tiết kiệm ngân sách</p>
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="card shadow-green">
                                <div class="card-body text-center">
                                    <p class="mb-11"><img
                                            src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/talent_intro/1.png"
                                            class="img-fluid" alt="Hàng ngàn hồ sơ ứng viên chất lượng, có chuyên môn">
                                    </p>
                                    <h5 class="card-title font-size-20 fw-bold mb-3">Hàng ngàn hồ sơ ứng viên chất
                                        lượng, có chuyên môn</h5>
                                    <p class="card-text text-gray-575">Tất cả ứng viên tìm việc Fulltime & Freelancer
                                        đều phải qua quy trình xét duyệt khắt khe của freelancerGo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="card shadow-green">
                                <div class="card-body text-center">
                                    <p class="mb-11"><img
                                            src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/talent_intro/2.png"
                                            class="img-fluid" alt="Mạng lưới Người Giới Thiệu ứng viên khắp toàn quốc">
                                    </p>
                                    <h5 class="card-title font-size-20 fw-bold mb-3">Mạng lưới Người Giới Thiệu ứng viên
                                        khắp toàn quốc</h5>
                                    <p class="card-text text-gray-575">Giúp bạn tìm kiếm & “săn” những tài năng phù hợp
                                        với mọi yêu cầu tuyển dụng của bạn nhanh chóng & chuẩn xác</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="card shadow-green">
                                <div class="card-body text-center">
                                    <p class="mb-11"><img
                                            src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/talent_intro/3.png"
                                            class="img-fluid"
                                            alt="Tuyển dụng Fulltime/ Freelancer theo nhu cầu Doanh nghiệp"></p>
                                    <h5 class="card-title font-size-20 fw-bold mb-3">Tuyển dụng Fulltime/ Freelancer
                                        theo nhu cầu Doanh nghiệp</h5>
                                    <p class="card-text text-gray-575">Đáp ứng mọi nhu cầu tuyển dụng nhân sự cho mọi vị
                                        trí công việc cố định hay việc freelance, dự án ngắn hạn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (user && user.role === "Nhà tuyển dụng") { %>
                     <p class="mt-6 text-center"><a class="btn btn-primary fw-500 pl-4 pr-4 pt-12 pb-12"
                            href="#">KẾT NỐI NGAY TÀI NĂNG BẠN CẦN</a></p>
                    <% } %>
                    
                </div>
            </section>

            <section class="content bg-gray-50 pt-6 pb-6" style="margin-top: 100px;">
                <div class="container text-center">
                    <h2 class="font-size-40 fw-bold mb-6 mt-3 text-center border-title-top">Báo Chí Nói Về Chúng Tôi
                    </h2>
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/nld-logo.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/quoc-gia-khoi-nghiep.png"
                        alt="" class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/chuyendongkinhdoanh.png"
                        alt="" class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/u-cafe.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/sctv.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/HTV9.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/viet-founder.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/biz-live.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/logo-tt.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/viet_nam_news-logo_0.png"
                        alt="" class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                    <!--            <a href="-->
                    <!--" target="_blank">-->
                    <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/testimonials/techinasia.png" alt=""
                        class="img-fluid ml-4 mr-4 mb-5">
                    <!--            </a>-->
                </div>
            </section>

            <section class="content bg-white pt-6 pb-6" style="margin-top: 100px;">
                <div class="container ">
                    <h2 class="font-size-40 fw-bold mb-3 mt-3 text-center border-title-top">Cơ Hội Việc Làm & Tăng Thu
                        Nhập</h2>
                    <p class="text-gray-575 mb-6 text-center">Tham gia tìm kiếm cơ hội việc làm hấp dẫn & Tăng thu nhập
                        từ việc giới thiệu ứng viên</p>
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <div class="card shadow-green">
                                <div class="card-body p-0 class position-relative">
                                    <div class="pb-3 pl-4 pt-5 position-relative" style="z-index: 10">
                                        <h5 class="card-title font-size-24 fw-bold mb-3">THAM GIA TÌM VIỆC</h5>
                                        <div class="row mb-11">
                                            <div class="col-7">
                                                <p class="card-text text-gray-575" style="min-height: 100px;"><i>Bạn cần
                                                        tìm công việc freelance/ fulltime? Hãy tham gia ngay
                                                        freelancerGo để nhận được nhiều công việc hấp dẫn.</i></p>
                                            </div>
                                        </div>
                                        <p class=""><a class="d-flex align-items-center text-underline-none"
                                                href="/auth/signup"><i
                                                    class="font-size-24 mr-2 fa fa-chevron-circle-right"></i> <u>Tạo hồ
                                                    sơ ngay</u></a></p>
                                    </div>
                                    <div class="position-absolute" style="right: 0; top: 0; bottom: 0; z-index: 1">
                                        <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/referral/1.png"
                                            class="img-fluid mh-100" alt="THAM GIA TÌM VIỆC">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="card shadow-green">
                                <div class="card-body p-0 class position-relative">
                                    <div class="pb-3 pl-4 pt-5 position-relative" style="z-index: 10">
                                        <h5 class="card-title font-size-24 fw-bold mb-3">THAM GIA ĐĂNG TUYỂN VIỆC LÀM
                                        </h5>
                                        <div class="row mb-11">
                                            <div class="col-7">
                                                <p class="card-text text-gray-575" style="min-height: 100px;"><i>Bạn
                                                        đang có nhiều dự án hấp dẫn, nhưng lại không có người cùng làm. 
                                                        Hãy chia sẻ công việc đó cùng chúng tôi, chúng tôi sẽ giúp đỡ bạn tìm kiếm ứng viên</i></p>
                                            </div>
                                        </div>
                                        <p class=""><a class="d-flex align-items-center text-underline-none"
                                                href="/auth/signup"><i
                                                    class="font-size-24 mr-2 fa fa-chevron-circle-right"></i> <u>Đăng ký
                                                    ngay</u></a></p>
                                    </div>
                                    <div class="position-absolute" style="right: 0; top: 0; bottom: 0; z-index: 1">
                                        <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/referral/2.png"
                                            class="img-fluid mh-100" alt="THAM GIA GIỚI THIỆU ỨNG VIÊN">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>

        <%- include ('template/footer.ejs') -%>