<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->

<%- include ('./template/header.ejs') -%>
<body>
    <% var user = user?user:null %> 
    <% if (user) { %>
     <h2>Welcome <%= user.name %> </h2>
    <% } %>
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptas. Exercitationem rem nulla aperiam perferendis est recusandae incidunt neque sapiente! Placeat vero maiores ab repellat corrupti iusto rem molestias inventore.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quo iure quidem ad iusto, natus veritatis tempora, dolores saepe neque, aut assumenda itaque a cum explicabo at delectus! Asperiores, sed.</p>
    <a href="/">go home</a>

<br>
<br>
<br>
    <!-- <form action="/upfile" enctype="multipart/form-data" method="post">
        File<input type="file" name="file">
        Message<input type="text" name="mes">
        <input type="submit" value="submit">
    </form> -->

    <!-- <form enctype="multipart/form-data" method="POST" action="/upfile">
        <input id="inputfield" type="file" name="file">
        <input id="button" type="submit" value="Upload">
      </form> -->
<div style="text-align: center;">
    <form action="/upcmt" method="post">
        <textarea name="comment" id="" cols="100" rows="3" placeholder="Báo cáo tại đây"></textarea>
        <input type="submit" value="gửi">
    </form>
    
    <form id="upload-widget" method="post" action="/upfile" class="dropzone"></form>
</div>
      

<div class="container">
	<h2 class="text-center">Bootstrap 4 User Rating Form / Comment Form</h2>
	
	<div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-2">
        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	        <p class="text-secondary text-center">15 Minutes Ago</p>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

        	       </p>
        	       <div class="clearfix"></div>
        	        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        	        <p>
        	            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
        	       </p>
        	    </div>
	        </div>
	        	<div class="card card-inner">
            	    <div class="card-body">
            	        <div class="row">
                    	    <div class="col-md-2">
                    	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                    	        <p class="text-secondary text-center">15 Minutes Ago</p>
                    	    </div>
                    	    <div class="col-md-10">
                    	        <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a></p>
                    	        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    	        <p>
                    	            <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
                    	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                    	       </p>
                    	    </div>
            	        </div>
            	    </div>
	            </div>
	    </div>
	</div>
</div>



<div class="card shadow-md container">
    <!-- <div class="card-header">
        <h3 class="font-size-18 m-0">TỔNG QUAN</h3>
    </div> -->
    
        
            <div class="card-body p-0">
                <div class="card flex-sm-row unset-border">
                    <div class="ml-10 mt-11 mb-3">
                        <img src="/images/def_face.jpg"
                            class="avatar avatar-100" alt="">
                    </div>
                    <div class="card-body pl-10 pt-11 pr-10 pb-2 flex-md-grow-1">
                        <div class="card unset-border">
                            <div class="card-header d-md-flex p-0 bg-transparent">
                                <div class="flex-grow-1">
                                    <h1 class="font-size-18 fw-500 text-primary d-inline-block" style="font-size: 18px; font-weight: 500;">Họ và tên
                                    </h1>
                                    <span class="ml-2 mr-2" style="margin: 12px 2px 0px 2px; font-size: 5px;"><i class="fa fa-circle font-size-dot"
                                            aria-hidden="true"></i></span>
                                    <span class="font-size-14 text-gray"  style="font-size: 14px;">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Ngày giờ đăng bài </span>


                                        <div class="float-right">
                                            <a href="#" title="Delete this comment"><i class="fa fa-trash" style="color: red; font-size: 20px;"></i></a>
                                        </div>
                                </div>
                                <!-- <span class="fw-bold ml-md-auto d-none">Điểm: <span
                                        class="text-primary">-</span></span> -->
                            </div>
                            <div class="card-body p-0">
                                <p class=" mb-3 fw-500">nội dung cmt</p>
                                <ul
                                    class="nav align-items-start align-items-sm-center flex-column flex-sm-row mb-3">

                                    <li class="nav-item">
                                        <span class="text-gray font-size-14 fw-500">Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit. Neque vero aliquam ea deserunt. 
                                            Id tempore saepe distinctio numquam quod odio dignissimos earum quibusdam? 
                                            Inventore cupiditate libero perspiciatis, eaque modi repellat.</span>
                                        <span class="text-primary font-size-14">
                                        helo 123445 consectetur adipisicing elit. Neque vero aliquam ea deserunt. 
                                        Id tempore saepe distinctio numquam quod odio dignissimos earum quibusdam? 
                                        Inventore cupiditate libero perspiciatis, eaque modi repellat.
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <hr class="ml-10 mr-10"> -->
            <div class="card-body pt-2 pl-10 pr-10 pb-10 font-size-14" style="text-align: center;">
                <p class="mb-0 ">file: </p>
                <div >
                    <img src="../../upload/vn-philipin.jpg"
                    class="avatar" alt="" style="width: 15%; border-radius: 5px;">
                
                    <img src="https://cdn.thethao.vip/2019/12/dj-jenny-yen-ngay-cang-go-cc-a3i-ca-cc-89m-tu-cc-a3-tin-khoe-than-hinh-hoan-ha-cc-89o-hotgirl-2122-15756177914888.jpg"
                    class="avatar" alt=""style="width: 15%; border-radius: 5px;">
                    <a href="http://localhost:8000/upload/abc.txt">abc.txt</a>
                    <a href="http://localhost:8000\upload\CV_NGUYEN_THE_QUANG.pdf">textfile</a>
                    <!-- <a href="http://localhost:8000/upload/vn-philipin.jpg">abc.txt</a> -->
                    
                </div>
                
            </div>
        </div>
       
   
    
</div>


<!-- <hr> -->




<div class="card shadow-md container">
    <!-- <div class="card-header">
        <h3 class="font-size-18 m-0">TỔNG QUAN</h3>
    </div> -->
    
        
            <div class="card-body p-0">
                <div class="card flex-sm-row">
                    <div class="ml-10 mt-11 mb-3">
                        <img src="/images/def_face.jpg"
                            class="avatar avatar-100" alt="">
                    </div>
                    <div class="card-body pl-10 pt-11 pr-10 pb-2 flex-md-grow-1">
                        <div class="card unset-border">
                            <div class="card-header d-md-flex p-0 bg-transparent">
                                <div class="flex-grow-1">
                                    <h1 class="font-size-18 fw-500 text-primary d-inline-block" style="font-size: 18px; font-weight: 500;">Họ và tên
                                    </h1>
                                    <span class="ml-2 mr-2" style="margin: 12px 2px 0px 2px; font-size: 5px;"><i class="fa fa-circle font-size-dot"
                                            aria-hidden="true"></i></span>
                                    <span class="font-size-14 text-gray"  style="font-size: 14px;">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Ngày giờ đăng bài </span>


                                        <div class="float-right">
                                            <a href="#" title="Delete this comment"><i class="fa fa-trash" style="color: red; font-size: 20px;"></i></a>
                                        </div>
                                </div>
                                <!-- <span class="fw-bold ml-md-auto d-none">Điểm: <span
                                        class="text-primary">-</span></span> -->
                            </div>
                            <div class="card-body p-0">
                                <p class=" mb-3 fw-500">nội dung cmt</p>
                                <ul
                                    class="nav align-items-start align-items-sm-center flex-column flex-sm-row mb-3">

                                    <li class="nav-item">
                                        <span class="text-gray font-size-14 fw-500">Lorem ipsum dolor sit amet 
                                            consectetur adipisicing elit. Neque vero aliquam ea deserunt. 
                                            Id tempore saepe distinctio numquam quod odio dignissimos earum quibusdam? 
                                            Inventore cupiditate libero perspiciatis, eaque modi repellat.</span>
                                        <span class="text-primary font-size-14">
                                        helo 123445 consectetur adipisicing elit. Neque vero aliquam ea deserunt. 
                                        Id tempore saepe distinctio numquam quod odio dignissimos earum quibusdam? 
                                        Inventore cupiditate libero perspiciatis, eaque modi repellat.
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <hr class="ml-10 mr-10"> -->
            <div class="card-body pt-2 pl-10 pr-10 pb-10 font-size-14" style="text-align: center;">
                <p class="mb-0 ">file: </p>
                <div >
                    <a href="/upload/crypt.cpp"></a>
                    <img src="" alt="file" style="width: 15%; border-radius: 5px;">
                    <img src="https://streaming1.danviet.vn/upload/3-2018/images/2018-09-13/39467929_1061408997355936_6769862228028948480_o-1536808017-width660height480.jpg"
                    class="avatar" alt="" style="width: 15%; border-radius: 5px;">
                
                    <img src="/images/def_face.jpg"
                    class="avatar" alt=""style="width: 15%; border-radius: 5px;">
                </div>
                
            </div>
        </div>
       
   
    

<script>
    Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 2, // MB
        maxFiles: 1,
        dictDefaultMessage: 'Drag an image here to upload, or click to select one',
        headers: {
            'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
        },
        acceptedFiles: 'image/*',
        init: function() {
            this.on('success', function(file, resp){
                console.log(file);
                console.log(resp);
            });
            this.on('thumbnail', function(file) {
            if (file.accepted !== false) {
                if (file.width < 640 || file.height < 480) {
                    file.rejectDimensions();
                }
                else {
                    file.acceptDimensions();
                }
            }
            });
        },
        accept: function(file, done) {
            file.acceptDimensions = done;
            file.rejectDimensions = function() {
            done('The image must be at least 640 x 480px')
            };
        }
    };
</script>

</body>
</html>


