<!-- </div>
<div class="footer-page" style="background-color: #183F5C;">
    <div class="footer-page-inside">
        
    </div>
</div>
</div>
</body>

</html> -->

<script type="text/javascript">
    function handleConfirm(tinnhan) {
        if (window.confirm(tinnhan) == true) {
            return true;
        }
        return false;
    }
    
</script>

</div>

<footer class="main-footer" style="background-color: #183F5C;" id="contact">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-about pt-3">
                        <div class="contact mb-4">
                            <p class="mb-2 text-white">Điện thoại: <a class="text-white text-underline-none"
                                    href="tel:+84 (028) 36207330">+84 (028) 36207330</a></p>
                            <p class="mb-2 text-white">Email: <a class="text-white text-underline-none"
                                    href="mailto:support@freelancerviet.vn">support@freelancergo.vn</a></p>
                        </div>
                        <p class=" mb-4">
                            <img src="https://cdn.freelancerviet.vn/fv4tmpl/default/img/img-bct.png" alt=""
                                style="width: 168px;" />
                        </p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="menu-footer pt-3">
                                <h3 class="font-size-18 mb-9 text-white">Về freelancerGo</h3>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="/"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16 ">Giới thiệu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://vnexpress.net"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Góc báo chí</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="menu-footer pt-3">
                                <h3 class="font-size-18 mb-9 text-white">Nhà tài trợ</h3>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="/"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Công ty TNHH freelancerGo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://vip-ntq.us"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Tập đoàn NTQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.qdz-solution.com"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Tập cổ phần QDZ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="menu-footer pt-3">
                                <h3 class="font-size-18 mb-9 text-white">Thành tích</h3>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="https://vnexpress.net"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Trang web truy cập nhiều nhất 2020</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://vnexpress.net"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Trang web dành cho free lớn nhất VN</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="menu-footer pt-3">
                                <h3 class="font-size-18 mb-9 text-white">Trợ giúp</h3>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="/"
                                            class="nav-link pl-0 pr-0 pb-1 pt-1 text-white font-size-16">Trợ giúp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="policy mt-3 mb-3 border-top border-bottom border-top-color-white border-bottom-color-white">
            </div>
            <div class="footer-copyright text-center mt-3 pt-3 pb-3">
                <span class="text font-size-16" style="color: aliceblue;">Copyright © 2020 freelancerGo Co., Ltd. All
                    Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>